[submodule "runtime"]
	path = runtime
	url = https://github.com/boradevelopment/bora-runtime.git
	branch = latest
[submodule "sdk"]
	path = sdk
	url = https://github.com/boradevelopment/bora-sdk.git
	branch = latest
[submodule "global"]
	path = global
	url = https://github.com/boradevelopment/bora-global.git
	branch = latest
[submodule "extras/boraInterpreter"]
	path = extras/boraInterpreter
	url = https://github.com/boradevelopment/bora-extra-interpreter.git
	branch = latest
[submodule "extras/boraSubProcess"]
	path = extras/boraSubProcess
	url = https://github.com/boradevelopment/bora-extra-subprocess.git
	branch = latest
